.founder-part
    .container 
        .title 
            p NHÀ SÁNG LẬP
        .founder
            .founder-row
                .fd-block
                    .founder-vi-img
                        img(src="../img/ViNSL.jpg", alt="")
                    .fd-name
                         p Nguyễn Thanh Vi
                .fd-block
                    .founder-ngoc-img
                        img(src="../img/NgocNSL.jpg", alt="")
                    .fd-name
                        p Đào Lan Ngọc
            .founder-row
                .fd-block
                    .founder-duy-img
                        img(src="../img/DuyNSL.jpg", alt="")
                    .fd-name
                        p Phạm Quốc Duy
                .fd-block
                    .founder-phap-img
                        img(src="../img/PhapNSL.jpg", alt="")
                    .fd-name
                        p Trần Khai Minh Pháp
            .founder-row
                .fd-block
                    .founder-huy-img
                        img(src="../img/HuyNSL.jpg", alt="")
                    .fd-name
                        p Lê Quang Huy
                .fd-block
                    .founder-manh-img
                        img(src="../img/ManhNsl1.png", alt="")
                    .fd-name
                        p Chu Vương Mạnh
