.huytwice
  .svr-bg 
    .container
      .title  
        h1 Cam Kết Dịch Vụ
      .src-block 
        .icon1  
          img(src="../img/iconA.png", alt="")
          p 24/7
        .icon2 
          img(src="../img/iconD.png", alt="")
          p Đảm Bảo Uy Tín, Chất Lượng
        .icon3  
          img(src="../img/iconC.png", alt="")
          p Giao Hàng Nhanh Chóng 
        .icon4 
          img(src="../img/iconB.png", alt="")
          p Mua Hàng dễ dàng