.huytwice
  .svr-bg 
    .container
      .title  
        h1 Cam Kết Dịch Vụ
      .src-block 
        .sv
          .icon1  
            img(src="../img/icon1.png", alt="")
          .p1 24/7
        .sv 
          .icon2 
            img(src="../img/icon4.png", alt="")
          .p2 Đảm Bảo Uy Tín, Chất Lượng
        .sv
          .icon3  
            img(src="../img/icon3.png", alt="")
          .p3 Giao Hàng Nhanh Chóng 
        .sv
          .icon4 
            img(src="../img/icon2.png", alt="")
          .p4 Mua Hàng dễ dàng