@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
.evaluation{
    .container {
        max-width: 1320px;
        height: 100%;
        width: 100%;
        background-color: aliceblue;
    }

    .Box-Flex {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .Box-Title {
        font-size: 3rem;
        padding: 10rem 3rem 0 3rem;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        font-family: 'Saira Stencil One', cursive;
    }

    .Box-Title h1 {
        color: black;
    }

    .Box-Title span {
        color: red;
    }
    .Box-Title span::after {
        content: "BẬT";
        color: blue;
    }
    //Cái Nút
    .Box-Button {
        text-align: center;
        text-decoration: none;
        outline: none;
        background-color: plum;
        border: none;
        box-shadow: 0 6px #999;
        display: inline-block;
        margin: 5rem;
        margin-bottom: 10rem;
        padding: 1.3rem 2rem;
        border-radius: 15px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        font-weight: 700;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 18px;
    }

    .Box-Button:hover {
        background-color: crimson;
        color: white;
        box-shadow: 0 6px yellow;
    }

    .Box-Button:active {
        box-shadow: 0 2px #666;
        transform: translateY(4px);
    }

    //Box-Feature
    .Box-Feature {
        display: flex;
        justify-content: center;
    }

    // //chỉnh khung màn hình
    .TN {
        .con-tooltip {
            position: relative;
            background: wheat;
            border: 2px dashed red;
            font-family: 'Barlow Condensed', sans-serif;
            font-size: 18px;

            width: 20rem;
            height: 8rem;
            border-radius: 1.5rem;
            padding: 3rem 0;
            margin: 2rem 2rem 0 2rem;

            display: block;

            transition: all 0.2s ease-in-out;
            cursor: default;

            text-align: center;
            font-weight: 700;
        }
        .con-tooltip:hover {
            color: white;
            background-color: red;
            box-shadow: 6px 5px 0px yellow;
        }
        //chỉnh cái khung đỗ ra
        .tooltip {
            visibility: hidden;
            z-index: 2;
            opacity: .40;

            width: 460%;
            height: auto;
            padding: 1.5rem 2rem 1.9rem 2.8rem;

            background: #333;
            color: #E086D3;
            text-align: left;

            position: absolute;
            border-radius: 1.5rem;
            font-size: 16px;

            transform: translateY(9px);
            transition: all 0.3s ease-in-out;

            box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
        }

        //chỉnh mũi tên chỉ lên
        /* tooltip after*/
        .tooltip::after {
            content: " ";
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 12px 12.5px 5px 12.5px;
            border-color: #333 transparent transparent transparent;
            position: absolute;
        }

        .con-tooltip:hover .tooltip {
            visibility: visible;
            transform: translateY(-10px);
            opacity: 1;
            transition: .3s linear;
            animation: odsoky 1s ease-in-out infinite alternate;

        }

        //hiệu ứng nhảy lên xuống khi chạm vào
        @keyframes odsoky {
            0% {
                transform: translateY(3rem);
            }

            100% {
                transform: translateY(1rem);
            }
        }

        .bottom:hover {
            transform: translateY(6px);
        }

        .bottom .tooltip {
            top: 112%;
        }

        .bottom .tooltip::after {
            top: -20%;
            left: 9.6%;
            transform: rotate(180deg);
        }
        .tooltip:hover{
            transform: none;
            display: none;
        }
    }

    .BV {
        .con-tooltip {
            position: relative;
            background: wheat;
            border: 2px dashed red;
            font-family: 'Barlow Condensed', sans-serif;
            font-size: 18px;

            width: 20rem;
            height: 8rem;
            border-radius: 1.5rem;
            padding: 3rem 0;
            margin: 2rem 2rem 0 2rem;

            display: block;

            transition: all 0.2s ease-in-out;
            cursor: default;

            text-align: center;
            font-weight: 700;
        }
        .con-tooltip:hover {
            color: white;
            background-color: red;
            box-shadow: 6px 5px 0px yellow;
        }
        //chỉnh cái khung đỗ ra
        .tooltip {
            visibility: hidden;
            z-index: 2;
            opacity: .40;

            width: 460%;
            height: auto;
            padding: 1.5rem 2rem 1.9rem 2.8rem;

            background: #333;
            color: #E086D3;
            text-align: left;

            position: absolute;
            border-radius: 1.5rem;
            font-size: 16px;

            transform: translateY(9px);
            transition: all 0.3s ease-in-out;

            box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
        }

        //chỉnh mũi tên chỉ lên
        /* tooltip after*/
        .tooltip::after {
            content: " ";
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 12px 12.5px 5px 12.5px;
            border-color: #333 transparent transparent transparent;
            position: absolute;
        }

        .con-tooltip:hover .tooltip {
            visibility: visible;
            transform: translateY(-10px);
            opacity: 1;
            transition: .3s linear;
            animation: odsoky 1s ease-in-out infinite alternate;

        }

        //hiệu ứng nhảy lên xuống khi chạm vào
        @keyframes odsoky {
            0% {
                transform: translateY(3rem);
            }

            100% {
                transform: translateY(1rem);
            }
        }

        .bottom:hover {
            transform: translateY(6px);
        }

        .bottom .tooltip {
            top: 112%;
            left: -120%;
        }

        .bottom .tooltip::after {
            top: -15%;
            left: 321px;
            transform: rotate(180deg);
        }
        .tooltip:hover{
            transform: none;
            display: none;
        }
    }

    .QL {
        .con-tooltip {
            position: relative;
            background: wheat;
            border: 2px dashed red;
            font-family: 'Barlow Condensed', sans-serif;
            font-size: 18px;

            width: 20rem;
            height: 8rem;
            border-radius: 1.5rem;
            padding: 3rem 0;
            margin: 2rem 2rem 0 2rem;

            display: block;

            transition: all 0.2s ease-in-out;
            cursor: default;

            text-align: center;
            font-weight: 700;
        }
        .con-tooltip:hover {
            color: white;
            background-color: red;
            box-shadow: 6px 5px 0px yellow;
        }
        //chỉnh cái khung đỗ ra
        .tooltip {
            visibility: hidden;
            z-index: 2;
            opacity: .40;

            width: 460%;
            height: auto;
            padding: 1.5rem 2rem 1.9rem 2.8rem;

            background: #333;
            color: #E086D3;
            text-align: left;

            position: absolute;
            border-radius: 1.5rem;
            font-size: 16px;

            transform: translateY(9px);
            transition: all 0.3s ease-in-out;

            box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
        }

        //chỉnh mũi tên chỉ lên
        /* tooltip after*/
        .tooltip::after {
            content: " ";
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 12px 12.5px 5px 12.5px;
            border-color: #333 transparent transparent transparent;
            position: absolute;
        }

        .con-tooltip:hover .tooltip {
            visibility: visible;
            transform: translateY(-10px);
            opacity: 1;
            transition: .3s linear;
            animation: odsoky 1s ease-in-out infinite alternate;

        }

        //hiệu ứng nhảy lên xuống khi chạm vào
        @keyframes odsoky {
            0% {
                transform: translateY(3rem);
            }

            100% {
                transform: translateY(1rem);
            }
        }

        .bottom:hover {
            transform: translateY(6px);
        }

        .bottom .tooltip {
            top: 112%;
            left: -240%;
        }

        .bottom .tooltip::after {
            top: -19.5%;
            left: 553px;
            transform: rotate(180deg);
        }
        .tooltip:hover{
            transform: none;
            display: none;
        }
    }

    .CL {
        .con-tooltip {
            position: relative;
            background: wheat;
            border: 2px dashed red;
            font-family: 'Barlow Condensed', sans-serif;
            font-size: 18px;

            width: 20rem;
            height: 8rem;
            border-radius: 1.5rem;
            padding: 3rem 0;
            margin: 2rem 2rem 0 2rem;

            display: block;

            transition: all 0.2s ease-in-out;
            cursor: default;

            text-align: center;
            font-weight: 700;
        }
        .con-tooltip:hover {
            color: white;
            background-color: red;
            box-shadow: 6px 5px 0px yellow;
        }
        //chỉnh cái khung đỗ ra
        .tooltip {
            visibility: hidden;
            z-index: 1;
            opacity: .40;

            width: 460%;
            height: auto;
            padding: 1.5rem 2rem 1.9rem 2.8rem;

            background: #333;
            color: #E086D3;
            text-align: left;

            position: absolute;
            border-radius: 1.5rem;
            font-size: 16px;

            transform: translateY(9px);
            transition: all 0.3s ease-in-out;

            box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
        }

        //chỉnh mũi tên chỉ lên
        /* tooltip after*/
        .tooltip::after {
            content: " ";
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 12px 12.5px 6px 12.5px;
            border-color: #333 transparent transparent transparent;
            position: absolute;
        }

        .con-tooltip:hover .tooltip {
            visibility: visible;
            transform: translateY(-10px);
            opacity: 1;
            transition: .3s linear;
            animation: odsoky 1s ease-in-out infinite alternate;

        }

        //hiệu ứng nhảy lên xuống khi chạm vào
        @keyframes odsoky {
            0% {
                transform: translateY(3rem);
            }

            100% {
                transform: translateY(1rem);
            }
        }

        .bottom:hover {
            transform: translateY(6px);
        }

        .bottom .tooltip {
            top: 112%;
            left: -360%;
        }

        .bottom .tooltip::after {
            top: -16.5%;
            left: 789px;
            transform: rotate(180deg);
        }
        .tooltip:hover{
            transform: none;
            display: none;
        }
    }
}

@media (max-width: 980px) {
    .evaluation {
        //Box-Feature
        .Box-Feature {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .TN .con-tooltip{
            margin: 3rem 0 3rem 0;
            z-index: 4;
        }
        .TN .tooltip{
            width: 200%;
            z-index: -4;
        }
        .TN .tooltip::after{
            border-width: 12px 12.5px 10px 12.5px;
        }
        .TN .bottom .tooltip{
            top: 112%;
            left: -50%;
        }
        .TN .bottom .tooltip::after{
            top: -17%;
            left: 185px;
        }

        .BV .con-tooltip{
            margin: 0 0 3rem 0;
            z-index: 3;
        }
        .BV .tooltip{
            width: 200%;
            z-index: -3;
        }
        .BV .tooltip::after{
            border-width: 12px 12.5px 15px 12.5px;
        }
        .BV .bottom .tooltip{
            top: 112%;
            left: -50%;
        }
        .BV .bottom .tooltip::after{
            top: -17%;
            left: 185px;
        }

        .QL .con-tooltip{
            margin: 0 0 3rem 0;
            z-index: 2;
        }
        .QL .tooltip{
            width: 200%;
            z-index: -2;
        }
        .QL .tooltip::after{
            border-width: 12px 12.5px 14px 12.5px;
        }
        .QL .bottom .tooltip{
            top: 112%;
            left: -50%;
        }
        .QL .bottom .tooltip::after{
            top: -17%;
            left: 185px;
        }

        .CL .con-tooltip{
            margin: 0 0 2rem 0;
            z-index: 1;
        }
        .CL .tooltip{
            width: 200%;
            z-index: -1;
        }
        .CL .tooltip::after{
            border-width: 12px 12.5px 23px 12.5px;
        }
        .CL .bottom .tooltip{
            top: 112%;
            left: -50%;
        }
        .CL .bottom .tooltip::after{
            top: -17%;
            left: 185px;
        }
    }
}