.huytwice{
    // .svr-bg{
    //     background-color: #dbdbdb;
    // }
    .container{
        max-width: 1320px;
        height: 100%;
        width: 100%;
        padding: 5rem 0rem;
    }
    .title{
        text-align: center;
        font-size: 2.4rem;
        font-weight: bold;
        letter-spacing: 10px;
        color: #000;
        text-shadow: 3px 0px 1px #2a2a2a;
        text-transform: uppercase;
        padding: 10px;
        margin-bottom: 3rem;
    }
    .src-block{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .icon1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 20rem;
        height: 20rem;
    }
    .icon1 img{
        display: block;
        width: 70%;
        height: 70%;
    }
    .icon2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 20rem;
        height: 20rem;
    }
    .icon2 img{
        display: block;
        width: 70%;
        height: 70%;
    }
    .icon3{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 20rem;
        height: 20rem;
    }
    .icon3 img{
        display: block;
        width: 70%;
        height: 70%;
    }
    .icon4{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 20rem;
        height: 20rem;
    }
    .icon4 img{
        display: block;
        width: 70%;
        height: 70%;
    }
    .src-block p{
        padding: .5rem 0;
        text-align:initial;
        font-size: 1.8rem;
        font-weight: 700;
        color: #000;
        letter-spacing: 1px;
    }
}
@media (max-width: 835px) {
    .huytwice{
        .title{
            font-size: 2rem;
        }
        .src-block{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-around;
            align-items: center;
        }
        .src-block p{
            font-size: 1.8rem;
        }
        .icon1, .icon2, .icon3,.icon4{
            width: 35%;
            height: 90%;
        }
    }
}
@media (max-width: 540px) {
    .huytwice{
        .title{
            font-size: 1.5rem;
        }
        .src-block{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            padding: 0 10px;
        }
        .src-block p{
            font-size: 1.5rem;
        }
        .icon1, .icon2, .icon3,.icon4{
            width: 35%;
            height: 35%;
        }
        .icon1 img, .icon2 img, .icon3 img,.icon4 img{
            width: 60%;
            height: 60%;
        }
    }
}
@media (max-width: 480px) {
    .huytwice{
        .title{
            font-size: 1.2rem;
        }
        .src-block p{
            font-size: 1.2rem;
        }
        .icon1, .icon2, .icon3,.icon4{
            width: 35%;
            height: 35%;
        }
        .icon1 img, .icon2 img, .icon3 img,.icon4 img{
            width: 50%;
            height: 50%;
        }
    }
}