.container-new {
    // .voucher-bg{
    //     background-color: #f6f6f4;
    // }
    .container {
        max-width: 1320px;
        margin: 0 auto;
        padding: 0 0.5rem;
        font-family: "Baloo Tammudu 2";
    }

    .nav {
        /* border: 3px solid red; */
        position: relative;
        align-items: center;
        justify-content: center;
        // margin-bottom: 2rem;
    }

    .nav-topic {
        /* border: 3px solid grey; */
        height: 8rem;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        position: relative;
        background-color: #2a2a2a;
        margin-bottom: 2rem;
    }

    .nav-topic h1 {
        text-align: center;
        justify-content: center;
        color: #eeeeee;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }


    .nav-topic::after {
        content: "----------------";
        position: absolute;
        /* padding: 0.5rem; */
        top: 10%;
        left: 0%;
        width: 80%;
        color: #eeeeee;
        transition: 0.5s;
    }

    .nav-topic::before {
        position: absolute;
        content: "----------------";
        /* padding: 0.5rem; */
        bottom: 10%;
        right: 0%;
        width: -80%;
        /* nhớ trừ */
        color: #eeeeee;
        transition: 0.5s;
    }

    .nav-total {
        /* border: 3px solid purple; */
        /* padding: 0.5rem; */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 2rem 4rem;
    }

    .demo-voucher {
        border-top-color: #f6f6f4;
        border-right-color: #f6f6f4;
        border-bottom-color: #f6f6f4;
        display: flex;
        border-bottom: 10px solid white;
        padding: 10px;
        transform: scale(1);
        transition: all 0.5s;
        background-color: #eeeeee;
    }

    .demo-voucher:hover {
        // color: #000000;
        transform: scale(1.05);
        background-color: #eeeeee;
    }

    .img-voucher {
        /* border: 3px solid rgb(238, 192, 255); */
        height: 205px;
        width: 205px;
        /* background-color: palevioletred; */
        border-right: 2px dashed #dbdbdb;
        /* align-items: center; */
        /* justify-items: center; */
    }

    .img-voucher img {
        display: block;
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .content-voucher {
        width: calc(100% - 205px);
        padding: 0 0.5rem;
        background-color: #fff;
        transition: 0.3s;
        position: relative;
        // background-color: rgb(255, 197, 223);
        background-color: #fbcbe0;
    }

    .content-voucher p span {
        font-size: 3.7rem;
        font-weight: 700;
    }

    .content-voucher p {
        font-weight: 400;
        font-size: 3rem;
    }

    .emo-vnn {
        padding: 15px;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .emo-vnn a {
        position: relative;
        background-color: #000;
        color: #000;
        text-decoration: none;
        font-size: 2.5rem;
        font-weight: 500;
        padding: 10px 30px;
        transition: 0.8s;
    }

    .emo-vnn a:hover {
        letter-spacing: 0.8rem;
        // background: var(--clr);
        background: #f0f8ff;
        box-shadow: 9px 7px 10px 0px #ff105f;
    }

    .emo-vnn a span:hover {
        color: #f0f8ff;
    }

    .emo-vnn a::before {
        content: "";
        position: absolute;
        inset: 2px;
        background-color: #ef5d8d;
    }

    .emo-vnn a span {
        position: relative;
        z-index: 1;
        color: #000;
    }

    .emo-vnn i {
        position: absolute;
        inset: 0;
        display: block;
    }

    .emo-vnn i::before {
        content: '';
        position: absolute;
        top: 0%;
        left: 80%;
        width: 10px;
        height: 4px;
        background: #fff;
        transform: translateX(-50deg) skewX(325deg);
        transition: 0.8s;
    }

    .emo-vnn:hover i::before {
        left: 20%;
        width: 20px;
    }

    .emo-vnn i::after {
        content: '';
        position: absolute;
        bottom: 0%;
        left: 20%;
        width: 10px;
        height: 4px;
        background: #fff;
        transform: translateX(-50deg) skewX(325deg);
        transition: 0.8s;
    }

    .emo-vnn:hover i::after {
        left: 80%;
        width: 20px;
    }
}

// @media(max-width: 960px) {
//     .container-new {
//         .nav {

//             flex-direction: column;
//             flex-wrap: wrap;
//             justify-content: flex-start
//         }

//         .content-voucher p {
//             font-size: 3rem;

//         }

//         .content-voucher p span {
//             font-size: 3.4rem;
//         }
//     }
// }

// @media(max-width:720px) {
//     .container-new {
//         .content-voucher {
//             width: 700px;
//             height: 20rem;
//         }

//         .demo-voucher {
//             display: flex;
//             width: 100%;
//             height: 100%;
//         }

//         .content-voucher p {
//             font-size: 2rem;

//         }
//         .content-voucher p span {
//             font-size: 2.4rem;
//         }
//     }
// }

@media(max-width: 730px) {
    .container-new {
        // .nav {
        //     display: flex;
        //     flex-direction: column;
        //     flex-wrap: wrap;
        //     justify-content: flex-start;
        // }

        // .nav-topic {
        //     height: 80px;
        //     width: 495px;
        // }
        .content-voucher p {
            font-size: 2rem;

        }
        .content-voucher p span {
            font-size: 2.4rem;
        }

        .content-voucher {
            width: 290px;
        }
        .img-voucher img{
            height: 20rem;
            width: 20rem;
            display: block;
        }
    }
}
@media (max-width: 560px){
    .container-new{
        .content-voucher{
            width: 18rem;
            height: 17rem;
        }
        .img-voucher img{
            width: 17rem;
            height: 17rem;
        }
        .img-voucher{
            width: 17rem;
            height: 17rem;
        }
        // .nav-topic{
        //     width: 35rem;
        // }
        .content-voucher p{
            font-size: 1.4rem;
        }
        .content-voucher p span{
            font-size: 1.8rem;
        }
        .emo-vnn{
            display: flex;
        }
        .emo-vnn-dn{
            width: 8rem;
            height: 3rem;
        }
        .emo-vnn a{
            font-size: 1rem;
            padding: 8px;
        }
        .emo-vnn a:hover{
            letter-spacing: 0.5rem;
        }
    }
}